@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    }

body {
    font-family: Fjalla One, sans-serif;
    font-weight: 250;
    color:mediumblue;
}

/* headings and logo */

h1, h2 {
    font-family: Fjalla One, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:mediumblue;
}

#logo {
    float: left;
    font-size: 100px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    }

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid hsl(241, 87%, 51%)
}

.active {
    border-bottom: 1px solid hsl(241, 87%, 51%);
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background-size: cover;
    background: url('../images/hero-image-project-1.webp') no-repeat center center;
}

