@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    }

body {
    font-family: Fjalla One, sans-serif;
    font-weight: 200;
    color: black;
}

/* headings and logo */

h1, h2 {
    font-family: Fjalla One, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(56, 52, 52);
}

#logo {
    float: left;
    font-size: 350%;
    margin-left: 25px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    }

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid hsl(241, 87%, 51%)
}

.active {
    border-bottom: 1px solid hsl(241, 87%, 51%);
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 500px;
    background-image: url('../images/hero-image-project-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

/* benefits */

#benefits {
    height: 250px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 50%;
    float: right;
}

hr {
    border-top: 1px solid blue;
    width: 100%;
    margin: 5px;
}

.left-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.left-about-heading h2 {
    text-align: left;
}

.right-about-heading p {
    text-align: right;
}

.left-about-heading p {
    text-align: left;
}

#hello {
    text-align: center;
    margin: 0 0;
    font-size: 250%
}

/* class times */

#class-times {
    background-image: url('../images/class-times-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#class-times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 33%;
    height: 200px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
}

#class-times h2 {
    color: #fafafa
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 2%;
    color: #3a3a3a
}

/* media queries */

@media screen and (max-width: 1200px) {
    #benefits {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

#hello {
    padding: 30px 0;
    margin: 0;
}

#left-about, #right-about {
    width: 100%;
    float: left;
    padding: 0;
}

}
