@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    }

body {
    font-family: Fjalla One, sans-serif;
    font-weight: 200;
    color: black;
}

/* headings and logo */

h1, h2 {
    font-family: Fjalla One, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(56, 52, 52);
}

#logo {
    float: left;
    font-size: 350%;
    margin-left: 25px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    }

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid hsl(241, 87%, 51%)
}

.active {
    border-bottom: 1px solid hsl(241, 87%, 51%);
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 500px;
    width: 100%;
    background-size: cover;
    background: url('../images/hero-image-project-1.webp') no-repeat center center;
}

/* benefits */

#benefits {
    height: 250px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 50%;
    float: right;
}

hr {
    border-top: 1px solid blue;
    width: 100%;
    margin: 5px;
}

.left-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: center;
}

.left-about-heading h2 {
    text-align: center;
}

.right-about-heading p {
    text-align: center;
}

.left-about-heading p {
    text-align: center;
}

#hello {
    text-align: center;
    margin: 0 0;
    font-size: 250%
}

